            .hlt td {
                background-color: #CAD6EC;
                color: black;
            }

body{
  font-family: Tahoma;
  text-align: left;
  margin-top: 0;
  margin-left: 0;
  
}
#header {
	position: relative;
	/*background-image: url(../images/wmslogo.jpg);*/
	background-repeat: no-repeat;
	width: auto;
	text-align: left;
	border-bottom:thin;
	
}

#content {
	margin-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 0;
}
#content p {
	font-size: 75%;
	line-height: 1.8em;
	padding-left: 1em;
	margin-top:0px;
}
#menu {
	position: absolute;
	top: 80px;
	left: 10px;
}

#menu td {
	border-bottom: 1px solid #969BA5;
	margin: 0;
	padding: 0;
	font-size: 110%;
	vertical-align: bottom;
}


#menu table {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

#menu a:link, #menu a:visited {
	display: block;
	padding: 5px 5px 5px 0.5em;
	border-right: 0px solid #265180;
	background-color: #CAD6EC;
	color: #265180;
	text-decoration: none;
}
#menu a:hover {
	background-color: #265180;
	color: #FFFFFF;
}

a:link,a:visited {
  color:#265180;
	text-decoration: none;
}
a:hover {
	color: #FF6600;
	text-decoration:none;
}
h2 {
	font: bold 90% Tahoma;
	color: #265180;
	background-color: transparent;
	border-bottom: 1px dotted #265180;
}
table {
	font-family: Tahoma; 
	font-size: 8pt;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	border-collapse: collapse;
	margin: 10px 0px;
	margin-top:5px;
}
th{
	color: #FFFFFF;
	font-size: 9pt;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5em;
	border-width: 1px;
	border-style: solid;
	border-color: #969BA5;
	border-collapse: collapse;
	background-color: #265180;
}
td{
	padding: 0.5em;
	vertical-align: top;
	border-width: 1px;
	border-style: solid;
	border-color: #969BA5;
	border-collapse: collapse;
}
input,textarea,select{
	font-family: Tahoma; 
	font-size: 8pt;
	background-color: #CAD6EC;
	color: #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	border-collapse: collapse;
}
#footer{
	/*position: absolute;*/
	top:570px;
	left: 0;
	width: 1024px;
	font-size: 70%;
	color: #FFFFFF;
	background-color: #265180;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 400px;
	  text-align: center; 
		background-color: transparent;
	border-top: 1px dotted #265180;
}
.error{
	font-family:Tahoma;
	font-size:11px;
	padding-left:4px;
	color:#FF0000;
	font-weight: bold;
}
